{{ $st := .page }}
<div class="row">
  <div class="col-lg-12">
    <div class="d-flex flex-column justify-content-center align-items-center">
      {{ with $st.Title }}<h1>{{ . | markdownify | emojify }}</h1>{{ end }}
      {{ with $st.Params.subtitle }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
      {{ $st.Content }}
    </div>
  </div>
</div>

<div id="logos" class="row">

  {{ range $st.Params.sponsors }}
  <div class="card m-3">
    <a href="{{ .site }}" rel="nofollow">
      <img src="{{ .logo }}" alt="{{ .name }}" class="card-img-top" style="width: 100px;">
    </a>
  </div>

  {{else}}
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <p class="card-text text-center">暂无赞助商</p>
      </div>
    </div>
  </div>

  {{ end }}

</div>
<div class="text-center">
  <a rel="nofollow"
    href="https://github.com/swoft-cloud/swoft-www-cn/issues/new?assignees=&labels=suponsor&template=sub_sponsor.md&title=%E7%94%B3%E8%AF%B7%E6%8F%90%E4%BA%A4%E8%B5%9E%E5%8A%A9%E5%95%86%E4%BF%A1%E6%81%AF"
    class="btn btn-outline-primary rounded-pill" role="button" aria-pressed="true">
    成为赞助者
  </a>
</div>