@media(min-width: 768px) {
    @supports(position:-webkit-sticky) or (position:sticky) {
        .docs-links {
            max-height:calc(100vh - 70px);
            overflow-y: auto
        }
    }
}

.docs-toc-item.active {
    margin-bottom: 0;
}

#case #logos img{
    transition: all 0.3s ease;
    max-width: 140px;
    max-height: 90px;
    margin:15px;
}