{{ $current_page := . }}

<div class="container-fluid docs">
  <div class="row flex-xl-nowrap">
    <div class="col-12 col-md-3 col-xl-2 docs-sidebar">
      {{ partial "docs_sidebar.html" . }}
    </div>

    {{ if .Params.toc }}
    <div class="d-none d-xl-block col-xl-2 docs-toc">
      <ul class="nav toc-top">
        <li><a href="#" id="back_to_top" class="docs-toc-title">{{ i18n "on_this_page" }}</a></li>
      </ul>

      {{ .TableOfContents }}

      {{ partial "docs_toc_foot.html" . }}
    </div>
    {{ end }}

    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 docs-content" role="main">

      <article class="article">

        <div class="docs-article-container">
          <h1>{{ .Title }}</h1>
          <!-- ad-pagetop -->
          <!-- <div class="m-2" style="background-color: #f8f8f8; padding: 8px 16px; position: relative;">
            <span style="font-size: 10px;color:#aaa;border:1px solid #ccc; padding:3px 6px;border-radius:4px;margin-right: 10px;">广告</span>  
            文字广告区域
          </div> -->

          <div class="article-style">
            {{ .Content }}
          </div>

          {{ partial "tags.html" . }}

          {{ if site.Params.docs_section_pager }}
          <div class="article-widget">
            {{ partial "section_pager.html" . }}
          </div>
          {{ end }}
        </div>

        <div class="body-footer">
          <p>{{ i18n "last_updated" }} {{ $.Lastmod.Format site.Params.date_format }}</p>

          {{ partial "page_edit" . }}
      
          <div class="row d-flex justify-content-start align-items-center">
            <div class="col-4">
              <p>关注我们</p>
              <img src="/img/weixin-gzh-qrcode.png"  alt="关注我们">
            </div>
            <div class="col-4">
              <p>支持我们</p>
              <div class="d-flex">
                <img src="/img/wxpay-qrcode.png" style="max-height: 100px;" height="100px" width="100px" alt="支持我们">
                <img src="/img/alipay-qrcode.png" style="max-height: 100px;" height="100px" width="100px" alt="支持我们">
              </div>
            </div>
          </div>

          {{ partial "comments" . }}
        </div>

      </article>

      {{ partial "site_footer.html" . }}

    </main>
  </div>
</div>
